@import 'framework/variables';

.content-wrapper {
  min-height: calc(100vh - #{$header-height});
  position: relative;

  .with-performance-bar & {
    min-height: calc(100vh - #{$header-height} - #{$performance-bar-height});
  }

  .jh-records-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: padding $sidebar-transition-duration;
    background-color: $gray-lighter;
    color: $gray-500;
    height: 47px;
    line-height: 47px;

    .jh-records-link {
      margin-right: 16px;
    }
    a, a:visited {
      color: $gray-500;
    }
  }
  .layout-page:not(.right-sidebar-expanded):not(.right-sidebar-collapsed) & .jh-records-footer {
    padding-right: 0;
  }

  @include media-breakpoint-only(sm) {
    &:not(.wiki-sidebar):not(.build-sidebar):not(.issuable-bulk-update-sidebar) {
     .jh-records-footer {
        padding-right: $gutter-collapsed-width;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .jh-records-footer {
      padding-right: $gutter-collapsed-width;
    }
    .right-sidebar-expanded & {
      .jh-records-footer {
        padding-right: $gutter-width;
      }
    }
  }
}