- if Gitlab.com?
  %footer.jh-records-footer
    %a.jh-records-link{ href: "https://beian.miit.gov.cn/#/Integrated/index", target: "_blank" } 鄂ICP备2021008419号-1
    %span
      = image_tag 'footer/anti-law.svg'
      %a{ href: "https://12377.cn/" } 违法和不良信息举报中心
